#______________________________________________
#
# Flow Control Policies
#______________________________________________

policies_flow_control = {
  {%- for value in flow_control %}
  "{{ value['name'] }}" = {
    description          = ""
    flow_control_mode    = "{{ value['priority'] }}"
    flow_control_receive = "{{ value['receive'] }}"
    flow_control_send    = "{{ value['send'] }}"
    organization         = "{{ org }}"
    tags                 = []
  }
  {%- endfor %}
}
