#______________________________________________
#
# Link Aggregation Policies
#______________________________________________

policies_link_aggregation = {
  {%- for value in link_aggregation %}
  "{{ value['name'] }}" = {
    description        = ""
    lacp_rate          = "{{ value['lacp_rate'] }}"
    organization       = "{{ org }}"
    suspend_individual = {{ value['suspend_individual'] }}
    tags               = []
  }
  {%- endfor %}
}
