
  "{{ name }}" = {
    description        = ""
    lacp_rate          = "{{ lacp_rate }}"
    organization       = "{{ org }}"
    suspend_individual = {{ suspend_individual }}
{%- if tags %}
    Tags               = [
  {%- for item in tags %}
      {
        key   = "{{ item['key'] }}",
        value = "{{ item['value'] }}"
      },
  {%- endfor %}
    ]
{%- else %}
    Tags               = []
{%- endif %}
  }
