policies_multicast = {
  {%- for value in multicast %}
  "{{ value['name'] }}" = {
    description    = ""
    organization   = "{{ org }}"
    querier_ip     = "{{ value['querier_ip'] }}"
    querier_state  = "{{ value['igmp_snooping_querier_state'] }}"
    snooping_state = "{{ value['igmp_snooping_state'] }}"
    tags           = []
    udld_admin_state = "{{ value['admin_state'] }}"
    udld_mode        = "{{ value['mode'] }}"
  }
  {%- endfor %}
 }
