#______________________________________________
#
# UCS Domain Profile Variables
#______________________________________________

ucs_domain_templates = {
  {{ name }} = {
    fc_ports                      = [1, 4]
    fc_slot_id                    = 1
    organization                  = "Asgard"
    policies_network_connectivity = "Asgard_sw_dns"
    policies_ntp                  = "Asgard_sw_ntp"
    policies_snmp                 = "Asgard_sw_snmp"
    policies_switch_control       = "Asgard_swctrl"
    policies_syslog               = "Asgard_sw_syslog"
    policies_system_qos           = "Asgard_sytemqos"
    policies_vlan                 = "Asgard_vlangroup_1cd"
    san_fill_pattern              = "Arbff"
    san_pc_breakoutswport         = 0
    san_pc_ports                  = [1, 3]
    san_pc_slot_id                = 1
    san_pc_speed                  = "16Gbps"
    vsan_a                        = 100
    vsan_a_description            = ""
    vsan_a_fcoe                   = null
    vsan_b                        = 200
    vsan_b_description            = ""
    vsan_b_fcoe                   = null
    vsan_enable_trunking          = false
    vsan_prefix                   = ""
  }
}

ucs_domain_profiles = {
  asgard-ucs = {
    assign_switches     = true
    action              = "No-op" # Options are {Delete|Deploy|Ready|No-op|Unassign}.
    device_model        = "UCS-FI-64108"
    domain_description  = ""
    domain_descr_fi_a   = ""
    domain_descr_fi_b   = ""
    domain_serial_a     = "FDO23360Y8U"
    domain_serial_b     = "FDO23360XWU"
    port_policy_descr_a = ""
    port_policy_descr_b = ""
    server_ports        = "5-18"
    src_template        = "Asgard_base"
    tags                = []
  }
}

