#______________________________________________
#
# Switch Control Policies
#______________________________________________

policies_switch_control = {
  "{{ name }}" = {
    description           = ""
    mac_aging_option      = "Default"
    mac_aging_time        = 14500
    organization          = "{{ org }}"
    tags                  = []
    udld_message_interval = 15
    udld_recovery_action  = "reset"
    vlan_optimization     = true
  }
}
