  "{{ name }}" = {
    lan_pc_breakoutswport     = 0
    lan_pc_ports              = [{{ begin }}, {{ end }}]
    lan_pc_slot_id            = 1
    lan_pc_speed              = "{{ admin_speed }}"
    policies_flow_control     = "{{ flow_control }}"
    policies_link_aggregation = "{{ link_aggregation }}"
    policies_link_control     = "default"
    # policies_link_control     = "{{ flow_link_control }}"
    tags                      = []
    ucs_domain_profile        = ""
  }
