policies_vlan = {
  "{{ name }}" = {
    auto_allow_on_uplinks = true
    description           = ""
    multicast_policy      = "default"
    organization          = "{{ org }}"
    vlan_list             = ""
    vlan_native           = "{{ native_vlan }}"
    vlan_prefix           = ""
    vlan_map = [
    {%- for value in vlans %}
      {
        name    = "{{ value['name'] }}"
        vlan_id = {{ value['id'] }}
      },
    {%- endfor %}
    ]
  }
}
