
  "{{ name }}" = {
    description  = "{{ descr }}"
    enabled      = {{ enabled|lower }}
    ntp_servers  = [
    {%- for v in ntp_servers %}
      "{{ v }}",
    {%- endfor %}
    ]
    organization = "{{ org }}"
{%- if tags %}
    tags              = [
  {%- for item in tags %}
      {
        key   = "{{ item['key'] }}",
        value = "{{ item['value'] }}"
      },
  {%- endfor %}
    ]
{%- else %}
    tags              = []
{%- endif %}
    timezone     = "{{ timezone }}"
  }