
  "{{ name }}" = {
    classes = [
{%- for r in range(0,6) %}
      {
  {%- for k, v in classes[r].items() %}
    {%- if k == 'cos' %}
        {{ k }}                 = {{ v }}
    {%- elif k == 'mtu' %}
        {{ k }}                 = {{ v }}
    {%- elif k == 'multicast_optimized' %}
        {{ k }} = {{ v|lower }}
    {%- elif k == 'packet_drop' %}
        {{ k }}         = {{ v|lower }}
    {%- elif k == 'priority' %}
        {{ k }}            = "{{ v }}"
    {%- elif k == 'state' %}
        {{ k }}               = "{{ v }}"
    {%- elif k == 'weight' %}
        {{ k }}              = {{ v }}
    {%- else %}
        {{ k }} = "{{ v }}"
    {%- endif %}
  {%- endfor %}
      },
{%- endfor %}
    ]
    description  = ""
    organization = "{{ org }}"
{%- if tags %}
    Tags         = [
  {%- for item in tags %}
      {
        key   = "{{ item['key'] }}",
        value = "{{ item['value'] }}"
      },
  {%- endfor %}
    ]
{%- else %}
    Tags         = []
{%- endif %}
  }
