#------------------------------------------
# Add Data Source for Maintenance Group
#------------------------------------------

data "aci_pod_maintenance_group" "maintenance_group_{{MG_Name}}" {
    name                        = "{{MG_Name}}"
}
