#------------------------------------------
# Create a Leaf Interface Profile
#------------------------------------------

/*
API Information:
 - Class: "infraAccPortP"
 - Distinguished Name: "uni/infra/accportprof-{{Name}}"
GUI Location:
 - Fabric > Access Policies > Interfaces > Leaf Interfaces > Profiles > {{Name}}
*/
resource "aci_leaf_interface_profile" "Interface_Profile_{{Name}}" {
{%- if Tags %}
    annotation  = "{{Tags}}"{% endif %}
{%- if Description %}
    description = "{{Description}}"{% endif %}
    name        = "{{Name}}"
{%- if Alias %}
    name_alias  = "{{Alias}}"{% endif %}
}

