#------------------------------------------
# Create Spanning-Tree Interface Policies
#------------------------------------------

/*
API Information:
 - Class: "stpIfPol"
 - Distinguished Name: "uni/infra/ifPol-{{Name}}"
GUI Location:
 - Fabric > Access Policies > Policies > Interface > Spanning Tree Interface : {{Name}}
*/
# resource "aci_spanning_tree_interface_policy" "STP_{{Name}}" {
# {%- if Description %}
#     description = "{{Description}}"{% endif %}
#     name        = "example"
#     ctrl        = {{Ctrl}}
# }

resource "aci_rest" "STP_{{Name}}" {
    path        = "/api/node/mo/uni/infra/ifPol-{{Name}}.json"
    class_name  = "stpIfPol"
    payload     = <<EOF
{
    "stpIfPol": {
        "attributes": {
{%- if Description %}
            "descr": "{{Description}}",{% endif %}
            "dn": "uni/infra/ifPol-{{Name}}",
            "descr": "{{Description}}",
            "name": "{{Name}}",
            "nameAlias": "{{Alias}}"
        }
    }
}
  EOF
}
