/*
API Information:
 - Class: "infraRsAccBaseGrp"
 - Distinguished Name: "uni/infra/accportprof-{{Switch_Name}}/hports-{{Interface_Selector}}-typ-{{Selector_Type}}/rsaccBaseGrp"
GUI Location:
 - Fabric > Access Policies > Interfaces > Spine Interfaces > Profiles > {{Switch_Name}} > {{Interface_Selector}}:{{Policy_Group}}
*/
resource "aci_rest" "Interface_Profile_{{Switch_Name}}_Selector_{{Interface_Selector}}" {
    path        = "/api/node/mo/uni/infra/accportprof-{{Switch_Name}}/hports-{{Interface_Selector}}-typ-{{Selector_Type}}/rsaccBaseGrp.json"
    class_name  = "infraRsAccBaseGrp"
    payload     = <<EOF
{
    "infraRsAccBaseGrp": {
        "attributes": {
            "tDn": "uni/infra/funcprof/{{Policy_Group}}"
        },
        "children": []
    }
}
    EOF
}
