#------------------------------------------
# Create VLAN Pools
#------------------------------------------

/*
API Information:
 - Class: "fvnsVlanInstP"
 - Distinguished Name: "uni/infra/vlanns-[{{Name}}]-{{Allocation_Mode}}"
GUI Location:
 - Fabric > Access Policies > Pools > VLAN:[{{Name}}]
*/
resource "aci_vlan_pool" "{{Name}}" {
    alloc_mode  = "{{Allocation_Mode}}"
    description = "{{Description}}"
    name        = "{{Name}}"
    name_alias  = "{{Alias}}"
}
