{%- for dict_item in bios -%}
   {%- for key, value in dict_item.items() -%}
    {%- if "name" in key %}
    "{{ value }}" = {
    {%- endif -%}
   {%- endfor -%}
{%- endfor %}
        organization = "{{ org }}"
        tags         = []
{%- for dict_item in bios -%}
   {%- for key, value in dict_item.items() -%}
    {%- if "description" in key %}
        description  = "{{ value }}"
    {%- endif -%}
   {%- endfor -%}
{%- endfor %}
        # BIOS Customization Settings
{%- for dict_item in bios %}
   {%- for key, value in dict_item.items() %}
    {%- if "name" in key %}
    {%- elif "description" in key %}
    {%- else %}
        {{ key }} = "{{ value }}"
    {%- endif %}
   {%- endfor %}
{%- endfor %}
    }