/*
API Information:
 - Class: "snmpClientP"
 - Distinguished Name: "uni/fabric/snmppol-default/clgrp-{{Mgmt_Domain}}/client-[{{SNMP_Client}}]"
GUI Location:
 - Fabric > Fabric Policies > Policies > Pod > SNMP > default > Client Group Policies: {{Client_Group}} > Client Entries
*/
resource "aci_rest" "SNMP_Policy_{{SNMP_Policy}}_Client_Group_{{Client_Group}}_Client_{{SNMP_Client_}}" {
    depends_on  = [
        aci_rest.SNMP_Policy_{{SNMP_Policy}},
        aci_rest.SNMP_Policy_{{SNMP_Policy}}_Client_Group_{{Client_Group}}
    ]
    path        = "/api/node/mo/uni/fabric/snmppol-{{SNMP_Policy}}/clgrp-{{Client_Group}}/client-[{{SNMP_Client}}].json"
    class_name  = "snmpClientP"
    payload     = <<EOF
{
    "snmpClientP": {
        "attributes": {
            "dn": "uni/fabric/snmppol-{{SNMP_Policy}}/clgrp-{{Client_Group}}/client-[{{SNMP_Client}}]",
            "name": "{{SNMP_Client_Name}}",
            "addr": "{{SNMP_Client}}",
        },
        "children": []
    }
}
    EOF
}
