/*
GUI Location:
 - Tenants > Create Tenant > {{Tenant}}
API Information:
 - Class: "fvTenant"
 - Distinguished Name: "uni/tn-{{Tenant}}"
*/
resource "aci_tenant" "{{Tenant}}" {
	description    = "{{Description}}"
	name           = "{{Tenant}}"
}