resource "aci_any" "vzAny_{{VRF}}" {
	depends_on                  = [aci_vrf.{{VRF}}]
    vrf_dn                      = "uni/tn-{{Tenant}}/ctx-{{VRF}}"
	description                 = "vzAny for {{Tenant}} {{VRF}}"
    match_t                     = "AtleastOne"
    relation_vz_rs_any_to_cons  = [data.aci_contract.default.id]
    relation_vz_rs_any_to_prov  = [data.aci_contract.default.id]
}