/*
GUI Location:
 - Tenants > {{Tenant}} > Networking > VRFs > {{VRF}}: Policy >  Preferred Group
*/
resource "aci_any" "Preferred_Grp_{{VRF}}" {
	depends_on                     = [aci_vrf.{{VRF}}]
	vrf_dn                         = "uni/tn-{{Tenant}}/ctx-{{VRF}}"
	description                    = "Preferred Group for {{Tenant}} {{VRF}}"
	pref_gr_memb  				   = "enabled"
}