#------------------------------------------
# Create a Taboos Contract
#------------------------------------------

/*
API Information:
 - Class: "vzBrCP"
 - Distinguished Name: "uni/tn-{{Tenant}}/taboo-{{Contract}}"
GUI Location:
 - Tenants > {{Tenant}} > Contracts > Taboos: {{Contract}}
*/
resource "aci_taboo_contract" "Tenant_{{Tenant}}_Contract_Type_{{Contract_Type}}_{{Contract}}" {
    depends_on  = [
        aci_tenant.Tenant_{{Tenant}},
    ]
    tenant_dn   = aci_tenant.Tenant_{{Tenant}}.id
{%- if Tags %}
    annotation  = "{{Tags}}"{% endif %}
{%- if Description %}
    description = "{{Description}}"{% endif %}
    name        = "{{Contract}}"
{%- if Tags %}
    name_alias  = "{{Alias}}"{% endif %}
}
