/*
API Information:
 - Class: "fvCtx"
 - Distinguished Name: "uni/tn-{{VRF_Tenant}}/ctx-{{VRF}}"
GUI Location:
 - Tenants > {{VRF_Tenant}} > Networking > VRFs > {{VRF}}
*/
data "aci_vrf" "{{VRF}}" {
    depends_on  = [
        data.aci_tenant.{{VRF_Tenant}}
    ]
    tenant_dn   = data.aci_tenant.{{VRF_Tenant}}.id
    name        = "{{VRF}}"
}