#------------------------------------------
# Add Data Source for Contract
#------------------------------------------

/*
API Information:
 - Class: "vzBrCP"
 - Distinguished Name: "uni/tn-{{Tenant}}/brc-{{Contract}}"
GUI Location:
 - Tenants > mgmt > Contracts > Standard: {{Contract}}
*/
data "aci_contract" "{{Tenant}}_contract_{{Contract}}" {
    depends_on  = [
        data.aci_tenant.{{Tenant}}
    ]
    tenant_dn   = data.aci_tenant.{{Tenant}}.id
    name        = "{{Tenant}}"
}

