#------------------------------------------------------
# Data Attachable Access Entity Generic Encap Policy
#------------------------------------------------------

/*
API Information:
 - Class: "infraAttEntityP"
 - Distinguished Name: "uni/infra/attentp-{{AAEP}}"
GUI Location:
 - Fabric > Access Policies > Policies > Global > Attachable Access Entity Profiles : {{AAEP}}
*/
data "aci_attachable_access_entity_profile" "{{AAEP}}" {
    name = "{{AAEP}}"
}

data "aci_access_generic" "AEP_{{AAEP}}" {
    depends_on                          = [
      data.aci_attachable_access_entity_profile.AEP_{{AAEP}}
    ]
    attachable_access_entity_profile_dn = aci_attachable_access_entity_profile.AEP_{{AAEP}}.id
    name                                = "default"
}
