#------------------------------------------------------
# Create Attachable Access Entity Generic Encap Policy
#------------------------------------------------------

/*
API Information:
 - Class: "infraAttEntityP"
 - Distinguished Name: "uni/infra/attentp-{{AAEP}}"
GUI Location:
 - Fabric > Access Policies > Policies > Global > Attachable Access Entity Profiles : {{AAEP}}
*/
resource "aci_epgs_using_function" "Tenant_{{Tenant}}_App_Profile_{{App_Profile}}_EPG_{{EPG}}_to_AEP_{{AAEP}}" {
  depends_on        = [
    data.aci_access_generic.AEP_{{AAEP}},
    aci_application_epg.Tenant_{{Tenant}}_App_Profile_{{App_Profile}}_EPG_{{EPG}}
  ]
  access_generic_dn = data.aci_access_generic.AEP_{{AAEP}}.id
  tdn               = aci_application_epg.Tenant_{{Tenant}}_App_Profile_{{App_Profile}}_EPG_{{EPG}}.id
  encap             = "vlan-{{VLAN}}"
  instr_imedcy      = "immediate"
  mode              = "regular"
}
