#------------------------------------------------
# Assign a Subnet to an External EPG
#------------------------------------------------

/*
API Information:
 - Class: "l3extSubnet"
 - Distinguised Name: "/uni/tn-{{Tenant}}/out-{{L3Out}}/instP-{{Ext_EPG}}/extsubnet-[{{Subnet}}]"
GUI Location:
 - Tenants > {{Tenant}} > Networking > L3Outs > {{L3Out}} > External EPGs > {{Ext_EPG}}
*/
resource "aci_l3_ext_subnet" "Tenant_{{Tenant}}_L3Out_{{L3Out}}_External_EPG_{{Ext_EPG}}_Subnet_{{Subnet_}}" {
    depends_on                              = [
        aci_tenant.Tenant_{{Tenant}},
        aci_l3_outside.Tenant_{{Tenant}}_L3Out_{{L3Out}},
        aci_external_network_instance_profile.Tenant_{{Tenant}}_L3Out_{{L3Out}}_External_EPG_{{Ext_EPG}}
    ]
    external_network_instance_profile_dn    = aci_external_network_instance_profile.Tenant_{{Tenant}}_L3Out_{{L3Out}}_External_EPG_{{Ext_EPG}}.id
{%- if Description %}
    description                             = "{{Description}}"{% endif %}
    ip                                      = "{{Subnet}}"
{%- if aggregate %}
    aggregate                               = {{aggregate}}{% endif %}
{%- if scope %}
    scope                                   = {{scope}}{% endif %}
{%- if sub_rtctrlProfile %}
    relation_l3ext_rs_subnet_to_profile     = [{{sub_rtctrlProfile}}]{% endif %}
{%- if rtsumARtSummPol %}
    relation_l3ext_rs_subnet_to_rt_summ     = "{{rtsumARtSummPol}}"{% endif %}
}
