#------------------------------------------------
# Assign a Subnet to an Out-of-Band External EPG
#------------------------------------------------

/*
API Information:
 - Class: "mgmtSubnet"
 - Distinguished Name: "uni/tn-mgmt/extmgmt-default/instp-{{Ext_EPG}}/subnet-[{{Subnet}}]"
GUI Location:
 - Tenants > mgmt > External Management Network Instance Profiles > {{Ext_EPG}}: Subnets:{{Subnet}}
*/
resource "aci_rest" "Out-of-Band_External_EPG_{{Ext_EPG}}_Subnet_{{Subnet_}}" {
    depends_on  = [
        aci_rest.Out-of-Band_External_EPG_{{Ext_EPG}}
    ]
    path        = "uni/tn-mgmt/extmgmt-default/instp-{{Ext_EPG}}/subnet-[{{Subnet}}].json"
    class_name  = "mgmtSubnet"
    payload     = <<EOF
{
    "mgmtSubnet": {
        "attributes": {
            "dn": "uni/tn-mgmt/extmgmt-default/instp-{{Ext_EPG}}/subnet-[{{Subnet}}]",
            "ip": "{{Subnet}}",
        },
        "children": [ ]
    }
}
    EOF
}
