#-------------------------------------------------------------
# Attach a Node Interface Path to a Logical Interface Profile
#-------------------------------------------------------------

/*
API Information:
 - Class: "l3extRsPathL3OutAtt"
 - Distinguished Name: "uni/tn-{{Tenant}}/out-{{L3Out}}/lnodep-{{Node_Profile}}/lifp-{{Interface_Profile}}/rspathL3OutAtt-[topology/pod-{{Pod_ID}}/{{PATH}}/pathep-[{{Interface_or_PG}}]]"
GUI Location:
{%- if Interface_Type == 'ext-svi' %}
 - Tenants > {{Tenant}} > Networking > L3Outs > {{L3Out}} > Logical Node Profile > {{Node_Profile}} > Logical Interface Profiles {{Interface_Profile}}: SVI
{%- elif Interface_Type == 'l3-port' %}
 - Tenants > {{Tenant}} > Networking > L3Outs > {{L3Out}} > Logical Node Profile > {{Node_Profile}} > Logical Interface Profiles {{Interface_Profile}}: Routed Interfaces
{%- elif Interface_Type == 'sub-interface' %}
 - Tenants > {{Tenant}} > Networking > L3Outs > {{L3Out}} > Logical Node Profile > {{Node_Profile}} > Logical Interface Profiles {{Interface_Profile}}: Routed Sub-Interfaces
{% endif %}
 - Assign all the default Policies to this Policy Group
*/
resource "aci_l3out_path_attachment" "Tenant_{{Tenant}}_L3Out_{{L3Out}}_Node_Profile_{{Node_Profile}}_Interface_Profile_{{Interface_Profile}}_path_attachment" {
    depends_on                      = [
        aci_tenant.Tenant_{{Tenant}},
        aci_logical_node_profile.Tenant_{{Tenant}}_L3Out_{{L3Out}}_Node_Profile_{{Node_Profile}},
        aci_logical_interface_profile.Tenant_{{Tenant}}_L3Out_{{L3Out}}_Node_Profile_{{Node_Profile}}_Interface_Profile_{{Interface_Profile}}
    ]
    logical_interface_profile_dn    = aci_logical_interface_profile.Tenant_{{Tenant}}_L3Out_{{L3Out}}_Node_Profile_{{Node_Profile}}_Interface_Profile_{{Interface_Profile}}.id
    target_dn                       = "topology/pod-{{Pod_ID}}/{{PATH}}/pathep-[{{Interface_or_PG}}]"
    if_inst_t                       = "{{Interface_Type}}"
{%- if Address %}
    addr                            = "{{Address}}"{% endif %}
    annotation                      = "{{Tags}}"
{%- if Interface_Type == 'ext-svi' %}
    autostate                       = "{{Auto_State}}"{% endif %}
{%- if VLAN %}
    encap                           = "vlan-{{VLAN}}"
    mode                            = "{{Mode}}"
    encap_scope                     = "{{Encap_Scope}}"{% endif %}
    ipv6_dad                        = "{{IPv6_DAD}}"
{%- if Link_Local %}
    ll_addr                         = "{{Link_Local}}"{% endif %}
{%- if MAC_Address %}
    mac                             = "{{MAC_Address}}"{% endif %}
    mtu                             = "{{MTU}}"
    target_dscp                     = "{{Target_DSCP}}"
}
