/*
Tenants > [Tenant] > Application Profiles > [Application Profile Name] > Application EPGs > [EPG Name] > Static Paths
*/
resource "aci_epg_to_static_path" "prod_nets_v0001_epg_101_102_asgard-ucs-a_vpc" {
	depends_on           = [aci_application_epg.prod_nets_v0001_epg,aci_ranges.st_vlan_pool_add_1]
	application_epg_dn   = aci_application_epg.prod_nets_v0001_epg.id
	tdn                  = "topology/pod-1/protpaths-101-102/pathep-[asgard-ucs-a_vpc]"
	encap                = "vlan-1"
	mode                 = "regular"
}