/*
API Information:
 - Class: "fvTenant"
 - Distinguished Name: "uni/tn-{{Tenant}}"
GUI Location:
 - Tenants > Create Tenant > {{Tenant}}
*/
resource "aci_tenant" "{{Tenant}}" {
    annotation                      = "{{Tags}}"
    description                     = "{{Description}}"
    name                            = "{{Tenant}}"
    name_alias                      = "{{Alias}}"
    relation_fv_rs_tenant_mon_pol   = "{{Monitoring_Policy}}"
}
