policies_vlan = {
  "{{ name }}" = {
    auto_allow_on_uplinks = true
    description           = ""
    multicast_policy      = "default"
    organization          = "{{ org }}"
{%- if tags %}
    Tags         = [
  {%- for item in tags %}
      {
        key   = "{{ item['key'] }}",
        value = "{{ item['value'] }}"
      },
  {%- endfor %}
    ]
{%- else %}
    Tags         = []
{%- endif %}
    vlan_list             = ""
    vlan_native           = "{{ native_vlan }}"
    vlan_prefix           = ""
    vlan_map = [
    {%- for value in vlans %}
      {
        name    = "{{ value['name'] }}"
        vlan_id = {{ value['id'] }}
      },
    {%- endfor %}
    ]
  }
}
