/*
API Information:
 - Class: "bgpAsP"
 - Distinguished Name: "uni/fabric/bgpInstP-default"
GUI Location:
 - System > System Settings > BGP Route Reflector: Autonomous System Number
*/
resource "aci_autonomous_system_profile" "{{BGP_AS}}" {
{%- if Description %}
    description = "{{Description}}"{% endif %}
{%- if annotation %}
    annotation  = "{{annotation}}"{% endif %}
    asn         = "{{BGP_AS}}"
{%- if name_alias %}
    name_alias  = "{{name_alias}}"{% endif %}
} 