/*
- This Resource File will create Recommended Default Policies Based on the Best Practice Wizard and additional Best Practices
*/

/*
API Information:
 - Class: "edrErrDisRecoverPol"
 - Distinguished Named "uni/infra/edrErrDisRecoverPol-default"
GUI Location:
 - Fabric > Access Policies > Policies > Global > Error Disabled Recovery Policy
*/
resource "aci_rest" "Error_Disable_Recovery" {
    path       = "/api/node/mo/uni/infra/edrErrDisRecoverPol-default.json"
    class_name = "edrErrDisRecoverPol"
    payload    = <<EOF
{
    "edrErrDisRecoverPol": {
        "attributes": {
            "dn": "uni/infra/edrErrDisRecoverPol-default",
            "errDisRecovIntvl": "{{Recovery_Interval}}"
        },
        "children": [
            {
                "edrEventP": {
                    "attributes": {
                        "event": "event-bpduguard",
                        "recover": "{{BPDU_Guard}}"
                    }
                }
            },
            {
                "edrEventP": {
                    "attributes": {
                        "event": "event-ep-move",
                        "recover": "{{EP_Move}}"
                    }
                }
            },
            {
                "edrEventP": {
                    "attributes": {
                        "event": "event-mcp-loop",
                        "recover": "{{MCP_Loop}}"
                    }
                }
            }
        ]
    }
}
    EOF
}
