
  "{{ name }}" = {
    description     = "{{ descr }}"
    default_vlan_id = {{ default_vlan }}
    vsan_id         = {{ vsan_id }}
{%- if tags %}
    tags            = [
  {%- for item in tags %}
      {
        key   = "{{ item['key'] }}",
        value = "{{ item['value'] }}"
      },
  {%- endfor %}
    ]
{%- else %}
    tags            = []
{%- endif %}
  }