#______________________________________________
#
# Syslog Policies
#______________________________________________

policies_syslog = {
  "Asgard_sw_syslog" = {
    description        = ""
    local_min_severity = "warning"
    organization       = "Asgard"
    syslog_destinations = [
      {
        enabled      = true
        hostname     = "lnx1.rich.ciscolabs.com"
        port         = 514
        protocol     = "udp"
        min_severity = "warning"
      },
      {
        enabled      = true
        hostname     = "lnx2.rich.ciscolabs.com"
        port         = 514
        protocol     = "udp"
        min_severity = "warning"
      }
    ]
    tags = []
  }
}
