
  "{{ name }}" = {
{%- if assignment_order %}
    assignment_order  = "{{ assignment_order }}"
{%- endif %}
{%- if iqn_blocks %}
    iqn_suffix_blocks = [
  {%- for item in iqn_blocks %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    iqn_suffix_blocks = []
{%- endif %}
    organization      = "{{ org }}"
    prefix            = "{{ prefix }}"
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags             = []
{%- endif %}
  }