
  "{{ name }}" = {
    assignment_order  = ""
    id_blocks         = []
    organization      = "{{ org }}"
    pool_purpose      = "{{ receive }}"
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags              = []
{%- endif %}
  }