
  "{{ name }}" = {
{%- if assignment_order %}
    assignment_order  = "{{ assignment_order }}"
{%- endif %}
{%- if wwpn_blocks %}
    id_blocks         = [
  {%- for v in wwpn_blocks %}
      {
        from = "{{ v['from'] }}",
        to   = "{{ v['to'] }}"
      },
  {%- endfor %}
    ]
{%- else %}
    id_blocks         = []
{%- endif %}
    organization      = "{{ org }}"
    pool_purpose      = "WWPN"
{%- if tags %}
    tags              = [
  {%- for item in tags %}
      {
        key   = "{{ item['key'] }}",
        value = "{{ item['value'] }}"
      },
  {%- endfor %}
    ]
{%- else %}
    tags              = []
{%- endif %}
  }