resource "aci_rest" "bgp_rr_{{Node_ID}}" {
	path		= "/api/node/mo/uni/fabric/bgpInstP-default/rr/node-{{Node_ID}}.json"
	class_name	= "bgpRRNodePEp"
	payload		= <<EOF
{
    "bgpRRNodePEp": {
        "attributes": {
            "dn": "uni/fabric/bgpInstP-default/rr/node-{{Node_ID}}",
            "id": "{{Node_ID}}",
            "rn": "node-{{Node_ID}}"
        },
        "children": []
    }
}
	EOF
}