
  "{{ name }}" = {
    boot_mode          = "{{ boot_mode }}"
{%- if enable_secure_boot %}
    enable_secure_boot = {{ enable_secure_boot }}
{%- else %}
    enable_secure_boot = false
{%- endif %}
    description        = "{{ descr }}"
    organization       = "{{ org }}"
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags         = []
{%- endif %}
    boot_devices = {
{%- for item in boot_devices %}
      "{{ item['device_name'] }}" = {
  {%- if item['device_type'] == 'iscsi_boot' and boot_mode == 'Uefi' %}
        additional_properties = jsonencode(
          {
            Bootloader = {
              ClassId     = "boot.Bootloader",
    {%- if item['bootloader_description'] %}
              Description = "{{ item['bootloader_description'] }}",
    {%- else %}
              Description = "UEFI Bootloader",
    {%- endif %}
    {%- if item['bootloader_name'] %}
              Name        = "{{ item['bootloader_name'] }}",
    {%- else %}
              Name        = "BOOTx64.EFI",
    {%- endif %}
              ObjectType  = "boot.Bootloader",
    {%- if item['bootloader_path'] %}
              Path        = "{{ item['bootloader_path'] }}",
    {%- else %}
              Path        = "\\EFI\\BOOT\\",
    {%- endif %}
            },
            InterfaceName = "{{ item['interface_name'] }}",
    {%- if item['port'] %}
            Port          = {{ item['port'] }},
    {%- else %}
            Port          = -1,
    {%- endif %}
    {%- if item['slot'] %}
            Slot          = "{{ item['slot'] }}"
    {%- else %}
            Slot          = "MLOM"
    {%- endif %}
          }
        )
    {%- if item['enabled'] %}
        enabled               = {{ item['enabled']|lower }}
    {%- else %}
        enabled               = true
    {%- endif %}
        name                  = "{{ item['device_name'] }}"
        object_type           = "boot.Iscsi"
  {%- elif item['device_type'] == 'iscsi_boot' %}
        additional_properties = jsonencode(
          {
            InterfaceName = "{{ item['interface_name'] }}",
    {%- if item['port'] %}
            Port          = {{ item['port'] }},
    {%- else %}
            Port          = -1,
    {%- endif %}
    {%- if item['slot'] %}
            Slot          = "{{ item['slot'] }}"
    {%- else %}
            Slot          = "MLOM"
    {%- endif %}
          }
        )
    {%- if item['enabled'] %}
        enabled               = {{ item['enabled']|lower }}
    {%- else %}
        enabled               = true
    {%- endif %}
        name                  = "{{ item['device_name'] }}"
        object_type           = "boot.Iscsi"
  {%- elif item['device_type'] == 'local_cdd' %}
        additional_properties = ""
    {%- if item['enabled'] %}
        enabled               = {{ item['enabled']|lower }}
    {%- else %}
        enabled               = true
    {%- endif %}
        name                  = "{{ item['device_name'] }}"
        object_type           = "boot.LocalCdd"
  {%- elif item['device_type'] == 'local_disk' and boot_mode == 'Uefi' %}
        additional_properties = jsonencode(
          {
            Bootloader = {
              ClassId     = "boot.Bootloader",
    {%- if item['bootloader_description'] %}
              Description = "{{ item['bootloader_description'] }}",
    {%- else %}
              Description = "UEFI Bootloader",
    {%- endif %}
    {%- if item['bootloader_name'] %}
              Name        = "{{ item['bootloader_name'] }}",
    {%- else %}
              Name        = "BOOTx64.EFI",
    {%- endif %}
              ObjectType  = "boot.Bootloader",
    {%- if item['bootloader_path'] %}
              Path        = "{{ item['bootloader_path'] }}",
    {%- else %}
              Path        = "\\EFI\\BOOT\\",
    {%- endif %}
            },
    {%- if item['slot'] %}
            Slot = "{{ item['slot'] }}"
    {%- else %}
            Slot = "MLOM"
    {%- endif %}
          }
        )
    {%- if item['enabled'] %}
        enabled               = {{ item['enabled']|lower }}
    {%- else %}
        enabled               = true
    {%- endif %}
        name                  = "{{ item['device_name'] }}"
        object_type           = "boot.LocalDisk"
  {%- elif item['device_type'] == 'local_disk' %}
        additional_properties = jsonencode(
          {
            Bootloader = {
              ClassId     = "boot.Bootloader",
    {%- if item['bootloader_description'] %}
              Description = "{{ item['bootloader_description'] }}",
    {%- else %}
              Description = "UEFI Bootloader",
    {%- endif %}
    {%- if item['bootloader_name'] %}
              Name        = "{{ item['bootloader_name'] }}",
    {%- else %}
              Name        = "BOOTx64.EFI",
    {%- endif %}
              ObjectType  = "boot.Bootloader",
    {%- if item['bootloader_path'] %}
              Path        = "{{ item['bootloader_path'] }}",
    {%- else %}
              Path        = "\\EFI\\BOOT\\",
    {%- endif %}
            },
    {%- if item['slot'] %}
            Slot = "{{ item['slot'] }}"
    {%- else %}
            Slot = "MLOM"
    {%- endif %}
          }
        )
    {%- if item['enabled'] %}
        enabled               = {{ item['enabled']|lower }}
    {%- else %}
        enabled               = true
    {%- endif %}
        name                  = "{{ item['device_name'] }}"
        object_type           = "boot.LocalDisk"
  {%- elif item['device_type'] == 'nvme' %}
        additional_properties = jsonencode(
          {
            Bootloader = {
              ClassId     = "boot.Bootloader",
    {%- if item['bootloader_description'] %}
              Description = "{{ item['bootloader_description'] }}",
    {%- else %}
              Description = "UEFI Bootloader",
    {%- endif %}
    {%- if item['bootloader_name'] %}
              Name        = "{{ item['bootloader_name'] }}",
    {%- else %}
              Name        = "BOOTx64.EFI",
    {%- endif %}
              ObjectType  = "boot.Bootloader",
    {%- if item['bootloader_path'] %}
              Path        = "{{ item['bootloader_path'] }}",
    {%- else %}
              Path        = "\\EFI\\BOOT\\",
    {%- endif %}
            },
          }
        )
    {%- if item['enabled'] %}
        enabled               = {{ item['enabled']|lower }}
    {%- else %}
        enabled               = true
    {%- endif %}
        name                  = "{{ item['device_name'] }}"
        object_type           = "boot.Nvme"
  {%- elif item['device_type'] == 'nvme' %}
        additional_properties = ""
        enabled               = {{ item['enabled']|lower }}
        name                  = "{{ item['device_name'] }}"
        object_type           = "boot.Nvme"
  {%- elif item['device_type'] == 'pch_storage' and boot_mode == 'Uefi' %}
        additional_properties = jsonencode(
          {
            Bootloader = {
              ClassId     = "boot.Bootloader",
    {%- if item['bootloader_description'] %}
              Description = "{{ item['bootloader_description'] }}",
    {%- else %}
              Description = "UEFI Bootloader",
    {%- endif %}
    {%- if item['bootloader_name'] %}
              Name        = "{{ item['bootloader_name'] }}",
    {%- else %}
              Name        = "BOOTx64.EFI",
    {%- endif %}
              ObjectType  = "boot.Bootloader",
    {%- if item['bootloader_path'] %}
              Path        = "{{ item['bootloader_path'] }}",
    {%- else %}
              Path        = "\\EFI\\BOOT\\",
    {%- endif %}
            },
    {%- if item['lun'] %}
            Lun = {{ item['lun'] }}
    {%- else %}
            Lun = 0
    {%- endif %}
          }
        ),
    {%- if item['enabled'] %}
        enabled               = {{ item['enabled']|lower }}
    {%- else %}
        enabled               = true
    {%- endif %}
        name                  = "{{ item['device_name'] }}",
        object_type           = "boot.PchStorage"
  {%- elif item['device_type'] == 'pch_storage' %}
        additional_properties = jsonencode(
          {
            Lun = {{ item['lun'] }}
          }
        ),
    {%- if item['enabled'] %}
        enabled               = {{ item['enabled']|lower }}
    {%- else %}
        enabled               = true
    {%- endif %}
        name                  = "{{ item['device_name'] }}",
        object_type           = "boot.PchStorage"
  {%- elif item['device_type'] == 'pxe_boot' %}
        additional_properties = jsonencode(
          {
            InterfaceName   = "{{ item['interface_name'] }}",
            InterfaceSource = "{{ item['interface_source'] }}",
            IpType          = "{{ item['ip_type'] }}",
            MacAddress      = "{{ item['mac_address'] }}",
    {%- if item['port'] %}
            Port            = {{ item['port'] }},
    {%- else %}
            Port            = -1,
    {%- endif %}
    {%- if item['slot'] %}
            Slot            = "{{ item['slot'] }}"
    {%- else %}
            Slot            = "MLOM"
    {%- endif %}
          }
        )
    {%- if item['enabled'] %}
        enabled               = {{ item['enabled']|lower }}
    {%- else %}
        enabled               = true
    {%- endif %}
        name                  = "{{ item['device_name'] }}"
        object_type           = "boot.Pxe"
  {%- elif item['device_type'] == 'san_boot' and boot_mode == 'Uefi' %}
        additional_properties = jsonencode(
          {
            Bootloader = {
              ClassId     = "boot.Bootloader",
    {%- if item['bootloader_description'] %}
              Description = "{{ item['bootloader_description'] }}",
    {%- else %}
              Description = "UEFI Bootloader",
    {%- endif %}
    {%- if item['bootloader_name'] %}
              Name        = "{{ item['bootloader_name'] }}",
    {%- else %}
              Name        = "BOOTx64.EFI",
    {%- endif %}
              ObjectType  = "boot.Bootloader",
    {%- if item['bootloader_path'] %}
              Path        = "{{ item['bootloader_path'] }}",
    {%- else %}
              Path        = "\\EFI\\BOOT\\",
    {%- endif %}
            },
            InterfaceName = "{{ item['interface_name'] }}",
    {%- if item['lun'] %}
            Lun           = {{ item['lun'] }},
    {%- else %}
            Lun           = 0,
    {%- endif %}
    {%- if item['port'] %}
            Port          = {{ item['port'] }},
    {%- else %}
            Port          = -1,
    {%- endif %}
    {%- if item['slot'] %}
            Slot          = "{{ item['slot'] }}",
    {%- else %}
            Slot          = "MLOM",
    {%- endif %}
            Wwpn          = "{{ item['target_wwpn'] }}"
          }
        )
    {%- if item['enabled'] %}
        enabled               = {{ item['enabled']|lower }}
    {%- else %}
        enabled               = true
    {%- endif %}
        name                  = "{{ item['device_name'] }}"
        object_type           = "boot.San"
  {%- elif item['device_type'] == 'san_boot' %}
        additional_properties = jsonencode(
          {
            InterfaceName = "{{ item['interface_name'] }}",
    {%- if item['lun'] %}
            Lun           = {{ item['lun'] }},
    {%- else %}
            Lun           = 0,
    {%- endif %}
    {%- if item['port'] %}
            Port          = {{ item['port'] }},
    {%- else %}
            Port          = -1,
    {%- endif %}
    {%- if item['slot'] %}
            Slot          = "{{ item['slot'] }}",
    {%- else %}
            Slot          = "MLOM",
    {%- endif %}
            Wwpn          = "{{ item['target_wwpn'] }}"
          }
        )
    {%- if item['enabled'] %}
        enabled               = {{ item['enabled']|lower }}
    {%- else %}
        enabled               = true
    {%- endif %}
        name                  = "{{ item['device_name'] }}"
        object_type           = "boot.San"
  {%- elif item['device_type'] == 'sd_card' and boot_mode == 'Uefi' %}
        additional_properties = jsonencode(
          {
            Bootloader = {
              ClassId     = "boot.Bootloader",
    {%- if item['bootloader_description'] %}
              Description = "{{ item['bootloader_description'] }}",
    {%- else %}
              Description = "UEFI Bootloader",
    {%- endif %}
    {%- if item['bootloader_name'] %}
              Name        = "{{ item['bootloader_name'] }}",
    {%- else %}
              Name        = "BOOTx64.EFI",
    {%- endif %}
              ObjectType  = "boot.Bootloader",
    {%- if item['bootloader_path'] %}
              Path        = "{{ item['bootloader_path'] }}",
    {%- else %}
              Path        = "\\EFI\\BOOT\\",
    {%- endif %}
            },
    {%- if item['lun'] %}
            Lun     = {{ item['lun'] }},
    {%- else %}
            Lun     = 0,
    {%- endif %}
            Subtype = "{{ item['subtype'] }}"
          }
        )
    {%- if item['enabled'] %}
        enabled               = {{ item['enabled']|lower }}
    {%- else %}
        enabled               = true
    {%- endif %}
        name                  = "{{ item['device_name'] }}"
        object_type           = "boot.SdCard"
  {%- elif item['device_type'] == 'sd_card' %}
        additional_properties = jsonencode(
          {
    {%- if item['lun'] %}
            Lun     = {{ item['lun'] }},
    {%- else %}
            Lun     = 0,
    {%- endif %}
            Subtype = "{{ item['subtype'] }}"
          }
        )
    {%- if item['enabled'] %}
        enabled               = {{ item['enabled']|lower }}
    {%- else %}
        enabled               = true
    {%- endif %}
        name                  = "{{ item['device_name'] }}"
        object_type           = "boot.SdCard"
  {%- elif item['device_type'] == 'uefi_shell' %}
        additional_properties = ""
    {%- if item['enabled'] %}
        enabled               = {{ item['enabled']|lower }}
    {%- else %}
        enabled               = true
    {%- endif %}
        name                  = "{{ item['device_name'] }}"
        object_type           = "boot.UefiShell"
  {%- elif item['device_type'] == 'usb' %}
        additional_properties = jsonencode({ Subtype = "{{ item['subtype'] }}" })
    {%- if item['enabled'] %}
        enabled               = {{ item['enabled']|lower }}
    {%- else %}
        enabled               = true
    {%- endif %}
        name                  = "{{ item['device_name'] }}"
        object_type           = "boot.Usb"
  {%- elif item['device_type'] == 'virtual_media' %}
        additional_properties = jsonencode({ Subtype = "{{ item['subtype'] }}" })
    {%- if item['enabled'] %}
        enabled               = {{ item['enabled']|lower }}
    {%- else %}
        enabled               = true
    {%- endif %}
        name                  = "{{ item['device_name'] }}"
        object_type           = "boot.VirtualMedia"
  {%- endif %}
      },
{%- endfor %}
    }
  }