
  "{{ name }}" = {
    burst                 = {{ burst }}
    description           = "{{ descr }}"
    enable_trust_host_cos = {{ enable_trust_host_cos|lower }}
    priority              = "{{ priority }}"
{%- if mtu %}
    mtu                   = {{ mtu }}
{%- else %}
    mtu                   = 1500
{%- endif %}
    rate_limit            = {{ rate_limit }}
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags                  = []
{%- endif %}
  }