
  "{{ name }}" = {
    access_community_string = "{{ access_community_string }}"
    community_access        = "{{ community_access }}"
    description             = "{{ descr }}"
    enabled                 = {{ enabled|lower }}
    engine_input_id         = "{{ engine_input_id }}"
    organization            = "{{ org }}"
{%- if port %}
    port                    = {{ port }}
{%- else %}
    port                    = 161
{%- endif %}
    system_contact          = "{{ system_contact }}"
    system_location         = "{{ system_location }}"
    trap_community_string   = 1
{%- if tags %}
    tags = [
  {%- for item in tags %}
      {
    {%- for k, v in item.items() %}
        {{ k }} = "{{ v }}",
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    tags         = []
{%- endif %}
{%- if trap_destinations %}
    trap_destinations = [
  {%- for item in trap_destinations %}
      {
    {%- for k, v in item.items() %}
      {%- if k == 'community' %}
        community           = 1,
      {%- elif k == 'destination_address' %}
        destination_address = "{{ v }}",
      {%- elif k == 'enabled' %}
        enabled             = {{ v|lower }},
      {%- elif k == 'port' %}
        port                = {{ v }},
      {%- elif k == 'trap_type' %}
        trap_type           = "{{ v }}",
      {%- elif k == 'user' %}
        user                = "{{ v }}",
      {%- elif k == 'version' %}
        version             = "{{ v }}",
      {%- endif %}
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    trap_destinations       = []
{%- endif %}
{%- if users %}
    users = [
  {%- for item in users %}
      {
    {%- for k, v in item.items() %}
      {%- if k == 'auth_password' %}
        auth_password    = 1,
      {%- elif k == 'auth_type' %}
        auth_type        = "{{ v }}",
      {%- elif k == 'enabled' %}
        enabled          = {{ v|lower }},
      {%- elif k == 'name' %}
        name             = {{ v }},
      {%- elif k == 'privacy_password' %}
        privacy_password = 1,
      {%- elif k == 'privacy_type' %}
        privacy_type     = "{{ v }}",
      {%- elif k == 'security_level' %}
        security_level   = "{{ v }}",
      {%- endif %}
    {%- endfor %}
      },
  {%- endfor %}
    ]
{%- else %}
    users                   = []
{%- endif %}
  }